<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Aplicação Django</title>
  </head>
  <body>
    <h1>Django: Tags de Templates</h1>
    <p>Neste exemplos utilizamos as tags de templates do Django (Jinja)</p>
    <ul>
        <li><b>Nome:</b> {{ nome }} </li>
        <li><b>Idade:</b> {{ idade }} </li>
        <li><b>E-mail:</b> {{ email }} </li>
        <li><b>Telefone:</b> {{ telefone }} </li>
        <li><b>Usuário Ativo:</b> {{ usuarioativo }} </li>
    </ul>
  </body>
</html>