<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Pedido</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
    <div class="container">
        <h1>Criar Pedido</h1>
        <input type="number" id="product_id" placeholder="ID do produto" required>
        <input type="number" id="quantity" placeholder="Quantidade" required>
        <button onclick="createOrder()">Criar Pedido</button>
    </div>

    <script src="js/app.js"></script>
</body>
</html>
