<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechHub</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Bem-vindo ao TechHub</h1>
        <button onclick="location.href='/login/'">Login</button>
        <button onclick="location.href='/register-supplier/'">Registrar Fornecedor</button>
    </div>
</body>
</html>
