<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Fornecedor</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
    <div class="container">
        <h1>Registrar Fornecedor</h1>
        <input type="text" id="username" placeholder="Nome de usuário" required>
        <input type="email" id="email" placeholder="Email" required>
        <input type="password" id="password" placeholder="Senha" required>
        <button onclick="registerSupplier()">Registrar</button>
    </div>

    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>
